//Microsoft Developer Studio generated resource script.
#include "resource.h"

#include "afxres.h"
        
/////////////////////////////////////////////////////////////////////////////
        
// Bitmap
        
BRICKS                                    BITMAP  DISCARDABLE     "Blue hills.bmp"
